body {
    font-family: 'Roboto', sans-serif;
}
.logo {
    margin-bottom: 25px;
    margin-top: 200px;
}

li {
    display: inline;
    padding: 0 1em;
    font-size: 14px;
}
li a {
    color: black;
    font-weight: 400;
}

a .nav-link {
    color: black;
    font-weight: 400;
}

li a:hover {
    text-decoration: underline;
}
ul {
    padding-left: 0;
}
#search {
    padding: 12px; 
    border-radius: 25px;
    border-width: 1px;
    border-color: #dfe1e5;
}

.right {
    float: right;
}
.left {
    float: left;
    padding: 0 1em;
}

.buttons {
    margin-top: 30px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.nav:hover{
    text-decoration: underline;
}

.menu {
    height: 1.5em;
    width: 1.5em;
}

.navbar a {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: black;
}
.bot2 {
    margin-bottom: 50px;
    margin-left: -15px;
    border-bottom: 1px solid grey;;
}

.bottomnav {
    color: orange;
}